In [1]:
import pandas
adopce_zvirat = pandas.read_csv('adopce-zvirat.csv', sep=';')
adopce_zvirat

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [5]:
adopce_zvirat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

In [6]:
adopce_zvirat.shape

(513, 6)

Tabulka má 513 řádků a 6 sloupců.

In [7]:
adopce_zvirat.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

Názvy sloupců tabulky jsou: id, nazev_cz, nazev_en, trida_cz, cena, k_prohlidce

In [13]:
adopce_zvirat.iloc[34,[1,2]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

Na záznamu s indexem 34 se nachází zvíře Ibis bilý (White ibis).

# Bonus

In [15]:
import pandas
adopce_zvirat = pandas.read_csv('adopce-zvirat.csv', sep=';', index_col= 'nazev_cz')
adopce_zvirat

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Šváb syčivý,7,Madagascar giant cockroach,Bezobratlí,1000,1
Pakobylka okřídlená,8,Pink-winged stick insect,Bezobratlí,1000,1
Tayra,16,Tayra,Savci,5000,1
Kajmanka supí,35,Alligator snapping turtle,Plazi,2000,1
Želva žlutočelá,37,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...
Rosnice šalamounská,1417,,Obojživelníci,1000,1
Létavka obecná,1418,,Obojživelníci,1000,1
Bažant paví,1419,,Ptáci,1000,1
Sojkovec rezavouchý,1420,,Ptáci,1000,1
Kachnice kaštanová,1421,,Ptáci,1000,1

In [20]:
adopce_zvirat.index.is_unique

True

Nový index je unikátní.

In [21]:
adopce_zvirat.sort_index()

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Achatina žravá,621,Giant African snail,Bezobratlí,1000,1
Adax,402,Addax,Savci,5000,1
Agama stepní,1214,Steppe agama,Plazi,1000,1
Agama turkestánská,1215,Turkestan rock agama,Plazi,1500,1
Agamka písečná,1233,Toad-headed agama,Plazi,1500,1
...,...,...,...,...,...
Želva černavá,673,Giant Asian pond turtle,Plazi,2000,1
Želva žlutočelá,37,Indochinese box turtle,Plazi,1000,1
Žirafa severní núbijská (= Rothschildova),396,Rothschild's giraffe,Savci,50000,1
Žluna větší,1069,Greater yellownape,Ptáci,1500,1
Žluva hajní,1190,Eurasian golden oriole,Ptáci,1000,1

"Bacha, metoda vrátí novou tabulku se seřazeným indexem. Budeš tedy chtít přepsat původní dataframe.""
Tomu nerozumím?

In [25]:
adopce_zvirat.loc["Outloň váhavý"]

id                          749
nazev_en       Sunda slow loris
trida_cz                  Savci
cena                       2000
k_prohlidce                   1
Name: Outloň váhavý, dtype: object

In [40]:
adopce_zvirat.loc["Želva Smithova":"Želva žlutočelá"]

Empty DataFrame
Columns: [id, nazev_en, trida_cz, cena, k_prohlidce]
Index: []